body {
    background-image: url('./images/backgroundfood.jpg');
    background-size: cover;
}

.parent {
    width: 1200px;
    height: 500px;
    /* background-color: grey; */
    display: flex;
    justify-content: space-evenly;
    margin-left: 70px;
}

.b {
    color: rgb(8, 8, 8);
    text-align: center;
    background-color: #ffff;
    opacity: 0.6;

}

.c{
    width: 200px;
    height: 500px;
    background-color: black;
    /* border: 2px white solid; */
    border-radius: 30px;
    opacity: 0.8;
    
}
.c:hover{
    opacity: 1;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    opacity: 1.0;
}
h2{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
    
}

button{
    height: 30px;
    background-color: rgb(80, 8, 87);
    color: whitesmoke;
    border-radius: 20px;
    
}
button:hover{
    background-color: white;
    color: rgb(45, 7, 53);
}